*::selection {
  background-color: #000c;
  color: #fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px 0;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  width: 1242px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.text-big {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: 400;
}

.text-medium {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 400;
}

.text-regular {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 400;
}

.text-small {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}

input {
  box-sizing: border-box;
}

.bad-input {
  border: 1px solid #c63334 !important;
}


textarea {
  align-items: center;
  background-color: rgb(238, 238, 238);
  border: 0.8px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
  cursor: text;
  font: 24px Roboto, Helvetica;
  height: 61.2px;
  margin: -1px 0 0;
  outline: none;
  padding: 15px;
  resize: none;
}